@import url("styles/header.css");
@import url('styles/banner.css');
@import url('styles/cards.css');
@import url('styles/footer.css');
@import url('styles/about_me/about_me.css');
@import url('styles/posts/posts.css');
@import url('styles/links/links.css');

:root{
    /*Cores:*/
    --cor_fundo: #ffffff;
    --cor_predominante: #ffffff;
    --cor_secundaria: rgb(139, 139, 139);
    --cor_letras: #000000;
    --cor_destaque: #000000;

    /*Tamanhos:*/
    --tamanho_letras: 1.5rem;
    --tamanho_letras_destaque: 2rem;
    --peso_letras_destaque: 700;
}

*{
    margin: 0%;
    padding: 0%;
}

.commum_letters{
    color: #ffffff;
    font-size:var(--tamanho_letras);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
}

.emphasis_letters{
    color: var(--cor_destaque);
    font-size: var(--tamanho_letras_destaque);
    font-family: 'Times New Roman', Times, serif;
    font-weight: var(--peso_letras_destaque);
    text-decoration: none;
}

/*para ficar bem no celular:*/
@media (max-width: 750px) {
    /*Index:*/
    .container_upper_menu {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .other_links_upper_menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
    }

    .container_upper_background{
        display: none;
    }

    /*About me:*/
    .container_sobre_mim{
        flex-direction: column;
        align-items: center;
    }

    .container_motivações{
        flex-direction: column;
        align-items: center;
    }

    .container_hobbies{
        flex-direction: column;
        align-items: center;
    }

    /*Posts:*/
    .post{
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .texto_post{
        padding: 0;
    }
}

@media (min-width: 750px){
    .container_below_background{
        display: none;
    }
}
