.imagem_site{
    width: 100vw;
    justify-content: center;
    height: 50vh;
    object-fit: cover;
}

.main_posts{
    margin: 3rem;
}

.container_posts{
    display: flex;
    flex-direction: column;
    background-color: var(--cor_secundaria);
    padding: 4rem;
    border-radius: 2rem;
    gap: 2rem;
}

.post{
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    padding: 1rem;
}

.texto_post{
    padding: 3rem 1rem 3rem 1rem;
    text-align: justify;
}

.imagem_post{
    width: 25rem;
    aspect-ratio: 2;
    object-fit: cover;
    border-radius: 2rem;
    /*margin: 1rem;*/
}