.footer{
    text-align: center;
    text-justify: center;
    background-color: var(--cor_secundaria);
    border-radius: 1rem;
    margin: 3rem;
    padding: 3rem;
}

.imagens_contatos{
    margin-top: 1rem;
}

.imagens_contatos img{
    height: 2rem;
}