.container_upper_menu {
    background-color: var(--cor_predominante);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other_links_upper_menu {
    display: flex;
    gap: 5rem;
}

.upper_menu_link{
    color: var(--cor_letras);
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: none;
}

